.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    color: white;
}

.form-input {
    width: 70vh;
    height: 3vh;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.form-textarea {
    width: 70vh;
    /* o un valor fijo: 300px */
    height: 150px;
    /* alto fijo */
    resize: none;
    /* evita que el usuario pueda cambiar el tamaño */
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}