/* =============================
   CONTENEDOR GENERAL
============================= */
.projects {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.projects__title {
  margin-bottom: 4.5rem;
} 

/* =============================
   1. PROYECTO DESTACADO (ARRIBA)
============================= */
.projects__featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.projects__featured-card {
    max-width: 350px;
    width: 100%;
}

.projects__featured-card .project-card__title {
    font-size: 1.5rem;
}

/* =============================
   2. GRID INFERIOR (LOS 3 DE ABAJO)
============================= */
.projects__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
}

/* =============================
   RESPONSIVE
============================= */
/* --- TABLETS (Entre 768px y 1024px) --- */
@media (min-width: 768px) and (max-width: 1024px) {
    
    .projects__featured-card {
        max-width: 60%; /* El destacado un poco más ancho en tablet */
    }

    .projects__grid {
         margin: 0 auto;
        max-width: 60%;
        grid-template-columns: repeat(1, 1fr); 
    }
}

/* --- MÓVILES (Menos de 768px) --- */
@media (max-width: 767px) {
    
    .projects__featured-card {
        max-width: 100%;
    }
    
    .projects__grid {
        grid-template-columns: 1fr; 
    }
}