/* =============================
   PROJECTS (BLOCK)
============================= */

.projects {
    max-width: 1100px;
    text-align: center;
    margin: 0 auto;
}

.projects__title{
}

/* =============================
   LISTA DE PROYECTOS
============================= */

.projects__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;

    margin: 40px auto;
}

/* =============================
   RESPONSIVE
============================= */

/* Móviles */
@media (max-width: 767px) {
    .projects {
        max-width: 280px;
    }

    .projects__list {
        grid-template-columns: 1fr;
        padding: 0 15px;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .projects {
        max-width: 700px;
    }
}