.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.name-title {
    font-size: 7.5rem;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0.2rem;

    background: linear-gradient(90deg,
            var(--title-color-grad-start),
            var(--title-color-accent-primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    opacity: 0;

    animation: slide-up-in 1.0s ease-out 0.2s forwards;
}


.role-title {
    font-size: 3.5rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2rem;

    background: linear-gradient(90deg,
            var(--title-color-grad-start) 0%,
            var(--title-color-accent-primary) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


    opacity: 0;

    animation: slide-up-in 1.0s ease-out 0.2s forwards;
}

/* Animación de aparición desde abajo */
@keyframes slide-up-in {
    from {
        opacity: 0;
        transform: translateY(60px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-social {
    margin-bottom: 3rem;
    display: flex;
    gap: 15px
}

.home-social-icon {
    display: inline-block;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.home-social-icon:hover {
    transform: translateY(-5px);
}

.home-social-icon img {
    width: 3rem;
    height: auto;
}

.home-button-container {
    padding: 20px 0 0;
}

.cv-button {
    background-color: var(--hero-buttonCv-bg-color);
    color: #363038;
    text-decoration: none;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.cv-button:hover {
    transform: translateY(-2px);
}

/* Estilos para móviles */
@media (max-width: 767px) {

    .home-content {
        max-width: 360px;
    }

    .name-title {
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
    }

    .role-title {
        font-size: 2.5rem;
        font-weight: 700;
        margin: 0px;
        white-space: normal;
    }

    .home-social {
        margin-top: 1rem;
    }

    .home-social-icon img {
        width: 2.5rem;
        margin: 0 0.5rem;
    }

    .home-button-container {
        padding: 20px 0 0;
    }

    .cv-button {
        padding: 0.9rem 1rem;
    }

}