:root {
    --text-color: #ecf0f1;
    --icon-color: #00FFFF;
    --accent-color-primary: #e45c5c;
    --button-bg-color: #00FFFF;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
    max-width: 800px;
    text-align: center; 
    margin: 0 auto; 
}

.name-title {
    font-size: 6rem;
    margin-bottom: 0.2rem;

    /* Gradiente de color */
    background: linear-gradient(90deg,
            var(--icon-color),
            var(--accent-color-primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Animación de entrada */
    opacity: 0;
    transform: translateX(-100px);
    animation: slideIn 3s ease-out 0.3s forwards; 
}

.role-title {
    font-size: 2.5rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 2rem;

    /* Gradiente de color */
    background: linear-gradient(90deg,
            var(--icon-color) 0%,
            var(--accent-color-primary) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    opacity: 0;
    transform: translateX(-100px);
    animation: slideIn 2s ease-out 0.6s forwards;
}

/* Keyframes de la animación */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*TODO:REVISAR TAMAÑO DE LOS ICONOS */

.home-social {
    margin-bottom: 2.5rem;
}

.home-social-icon {
    display: inline-block;
transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.home-social-icon:hover {
    transform: translateY(-5px);
}

.home-social-icon img{
    width: 60px;
}


.cv-button {
    background-color: var(--button-bg-color);
    color: black;
    text-decoration: none;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.cv-button:hover {
    transform: translateY(-2px);
}