/* ============================
   HERO (BLOCK)
============================ */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}

/* ============================
   TITLES
============================ */

.hero__name {
    font-size: 7.5rem;
    margin: 0 0 0.2rem 0;

    background: linear-gradient(90deg,
        var(--title-color-grad-start),
        var(--title-color-accent-primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    opacity: 0;
    animation: slide-up-in 1.0s ease-out 0.2s forwards;
}


.hero__role {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0 0 2rem 0;

    background: linear-gradient(90deg,
        var(--title-color-grad-start) 0%,
        var(--title-color-accent-primary) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    opacity: 0;
    animation: slide-up-in 1.0s ease-out 0.2s forwards;
}

/* ============================
   SOCIAL NAV
============================ */

.hero__social {
    margin-bottom: 3rem;
    display: flex;
    gap: 15px;
}

.hero__social-link {
    display: inline-block;
    transform: translateY(0);
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.hero__social-link:hover {
    transform: translateY(-5px);
}

.hero__social-link img {
    width: 3rem;
    height: auto;
}

/* ============================
   BUTTON CV
============================ */

.hero__cv-button {
    background-color: var(--hero-buttonCv-bg-color);
    color: #363038;
    text-decoration: none;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);

    display: inline-block;
    transform: translateY(0);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero__cv-button:hover {
    transform: translateY(-2px);
}

/* ============================
   ANIMATIONS
============================ */

@keyframes slide-up-in {
    from {
        opacity: 0;
        transform: translateY(60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ============================
   RESPONSIVE
============================ */

@media (max-width: 767px) {

    .hero {
        max-width: 360px;
    }

    .hero__name {
        font-size: 4rem;
        font-weight: 700;
    }

    .hero__role {
        font-size: 2.5rem;
        font-weight: 700;
        margin: 0;
    }

    .hero__social {
        margin-top: 1rem;
    }

    .hero__social-link img {
        width: 2.5rem;
        margin: 0 0.5rem;
    }

    .hero__cv-button {
        padding: 0.9rem 1rem;
    }
}