.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.name-title {
    font-size: 7rem;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0.2rem;

    /* Gradiente de color */
    background: linear-gradient(90deg,
            var(--title-color-grad-start),
            var(--title-color-accent-primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.role-title {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 0;

    /* Gradiente de color */
    background: linear-gradient(90deg,
            var(--title-color-grad-start) 0%,
            var(--title-color-accent-primary) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    width: fit-content;
    overflow: hidden;
    border-right: 2px solid #fff;
    white-space: nowrap;

    /* Ejecuta typing y luego oculta el cursor */
    animation: typing 3s steps(20) forwards, hideCursor 0s 3s forwards;
}

/* Animación de escritura */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 450px;
    }
}

/* Oculta el cursor al final */
@keyframes hideCursor {
    to {
        border-right-color: transparent;
    }
}

/*TODO:REVISAR TAMAÑO DE LOS ICONOS */

.home-social {
    margin-bottom: 2.5rem;
}

.home-social-icon {
    display: inline-block;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.home-social-icon:hover {
    transform: translateY(-5px);
}

.home-social-icon img {
    width: 4rem;
    height: auto;
    margin: 0.6rem;
}


.cv-button {
    background-color: var(--hero-buttonCv-bg-color);
    color: #363038;
    text-decoration: none;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.cv-button:hover {
    transform: translateY(-2px);
}

/* Estilos para móviles */
@media (max-width: 767px) {

    .home-content {
        max-width: 360px;
    }

    .name-title {
        font-size: 4rem;
        text-align: center;
    }

    .role-title {
        font-size: 2.5rem;
        margin: 0px;
        
        white-space: normal;
        animation: none;
        border-right: none;
        overflow: visible;
    }

    .home-social-icon img {
        width: 3rem;
    }
}