/* =============================
   CONTACT (BLOCK)
============================= */

.contact {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

/* Título propio del bloque (si necesitas ajustes específicos) */
.contact__title {
  margin-bottom: 4.5rem;
} 

/* =============================
   FORMULARIO
============================= */

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.contact__form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.contact__form-label {
    color: var(--text-color);
    text-align: left;
}

.contact__form-input,
.contact__form-textarea,
.contact__button {
    width: 100%;
    max-width: 700px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    background-color: var(--contact-input-bg-color);
}

.contact__form-input {
    height: 2rem;
}

.contact__form-textarea {
    height: 8rem;
    resize: none;
}

.contact__button {
    height: 2.2rem;
    font-weight: bold;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    background: linear-gradient(
        90deg,
        var(--contact-button-color-grad-start) 0%,
        var(--contact-button-accent-color-primary) 60%
    );
    transition: transform 0.3s ease-in-out;
}

.contact__button:hover {
    transform: scale(1.1);
}

/* =============================
   RESPONSIVE
============================= */

@media (max-width: 767px) {
    .contact {
        max-width: 300px;
    }
}
