/* =============================
   NAVBAR (BLOCK)
============================= */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.navbar__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 10px;
    width: auto;


    /* Estilo del "contenedor" flotante oscuro */
    background: var(--navbar-wrap-bg);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

/* Branding */
.navbar__brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar__title {
    margin-left: 10px;
    margin: 16px;
    background: linear-gradient(90deg,
            var(--title-color-grad-start),
            var(--title-color-accent-primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar__subtitle {
    color: var(--navbar-name-text-color);
    margin: 5px;
}

/* Lista de enlaces */
.navbar__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    padding: 12px 13px;
    border-radius: var(--border-radius);
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar__link:hover {
    color: var(--navbar-color-text-hover);
}

/* Toggle hamburguesa */
.navbar__toggle {
    display: none;
    cursor: pointer;
    z-index: 1001;
    padding: 10px;
}

.navbar__bar {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px 0;
    border-radius: 2px;
    transition: 0.4s;
}


/* =============================
   RESPONSIVE MOBILE
============================= */
@media (max-width: 768px) {
    .navbar {
        justify-content: flex-start;
        padding-left: 15px;
        padding-top: 15px;
    }

    .navbar__wrap {
        gap: 0;
        padding: 8px 12px;
        width: auto;
        justify-content: flex-start;
        border-radius: 50%;
    }

    .navbar__brand {
        display: none;
    }

    .navbar__title,
    .navbar__subtitle {
        display: none;
    }

    .navbar__toggle {
        display: block;
        padding: 0;
    }

    /* Menú desplegable */
    .navbar__list {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vw;
        background: var(--navbar-mobile-menu-bg);
        border-radius: var(--border-radius);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
        align-items: left;
        padding: 0;
    }

    .navbar__list--open {
        max-height: 600px;
        padding: 20px 0;
    }

    .navbar__link {
        font-size: 1.3rem;
        font-weight: normal;
        padding: 25px 20px;
        width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .navbar__title,
    .navbar__subtitle {
        display: none;
    }

     .navbar__wrap {
        padding: 7px 12px;
     }
}