/* Variables para facilitar la edición */
:root {
    --navbar-bg: rgba(51, 50, 50, 0.349);
    --navbar-bg2: rgba(0, 0, 0, 0.459);
    --nav-color-icon: #00EEFF;
    --nav-color-text: #ecf0f1;
    --border-radius: 20px;
    --text-color-hover: #00EEFF;
}

/* Contenedor principal de la barra de navegación */
.navbar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    position: fixed;
    /* Para que se mantenga visible al hacer scroll */
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-wrap {
    display: flex;
    align-items: center;
    gap: 30px;

    /* Estilo del "contenedor" flotante oscuro */
    background: var(--navbar-bg);
    border-radius: var(--border-radius);
    /* Sombra sutil opcional */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    /* Efecto de desenfoque de fondo opcional (requiere buena compatibilidad) */
    backdrop-filter: blur(5px);

}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-title {
    margin-left: 10px;
    background: linear-gradient(90deg,
            var(--icon-color),
            var(--accent-color-primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-subtitle {
    color: var(--nav-color-text);
}


/* Lista que contiene los elementos */
.navbar-list {
    display: flex;
    list-style: none;
    /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
}

/* Elemento individual de la lista */
.nav-item {
    /* margin: 0 10px; */
}

/* Enlace (incluye ícono y texto) */
.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--nav-color-text);
    padding: 12px 13px;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    border-radius: var(--border-radius);
}

/* Efecto al pasar el mouse (hover) */
.nav-link:hover {
    color: var(--nav-color-icon);
}

/* Media query para dispositivos más pequeños */
@media (max-width: 768px) {
    .navbar-list {
        /* Si quieres apilar los elementos en móvil, descomenta esto: */
        /* flex-direction: column; */
        padding: 10px;
        border-radius: 0;
        width: 100%;
    }

    .nav-item {
        margin: 5px 0;
    }

    
}