footer {
    background-color: var(--footer-bg--color);
    color: var(--text-color);
    padding: 40px 20px 20px;
    border-top: 5px solid var(--footer-border-color);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-info {
    max-width: 300px;
}

.footer-info h1 {
    background: linear-gradient(90deg,
            var(--title-color-grad-start),
            var(--title-color-accent-primary)40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom: 5px;
}

.role {
    font-size: 0.9em;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 15px;
    color: var(--footer-role-text-color);
}

.about-me {
    font-size: 0.9em;
}


/* Estilos de la lista de navegación*/
.nav-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 25px;
}

/* Estilos de enlaces (navegación y sociales) */
footer a {
    color: #ecf0f1;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--footer-color-text-hover);
}

/* Estilos de enlaces sociales */
.social-links {
    display: flex;
    gap: 25px;
}

/* Estilos de la parte inferior (copyright) */
.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid var(--footer-border-color);
    font-size: 0.85em;
    color: var(--footer-text-color-copyright);
}


/* Media Query para responsividad (en móviles, las secciones se apilan) */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-info {
        max-width: 400px;
    }

    .footer-info h1 {
        margin-bottom: 5px;
    }

    .social-links,
    .nav-links ul {
        justify-content: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }
}

/* Estilos para tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .footer-container {
        max-width: 700px;
    }
}