/* =============================
   TECH (BLOCK)
============================= */

.tech {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}

/* Título propio del bloque (si necesitas ajustes específicos) */
.tech__title {
  margin-bottom: 4.5rem;
} 

/* =============================
   CAROUSEL WRAPPER
============================= */

.tech__carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

.tech__carousel-track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* =============================
   ICON CARD
============================= */

.tech__icon-card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SVG */
.tech__icon-svg svg {
  width: 50px;
  height: 50px;
  fill: var(--text-color);
}

/* Nombre del icono */
.tech__icon-name {
  margin-top: 0.5rem;
  color: var(--text-color);
}

/* =============================
   RESPONSIVE
============================= */

@media (max-width: 767px) {
  
  .tech {
    max-width: 330px;
    margin-bottom: 2rem;
  }

  .tech__title {
    margin-bottom: 4rem;
  }
}
