.tech-section-container {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}

.tech-title {
  font-size: 2.5rem;
  color: var(--text-color);
  margin-bottom: 50px;

  position: relative;
  display: inline-block;
}

/* ... (Estilos de la línea) ... */
.tech-title::after {
  content: '';
  position: absolute;
  left: 17%;
  bottom: -5px;

  width: 30%;
  height: 4px;

  background-color: var(--title-underline-color);

  transform: translateX(-50%);
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.icon-card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Estilos para móviles */
@media (max-width: 767px) {
  .tech-section-container {
    max-width: 330px;
  }

  .tech-title {
    font-size: 2rem;
  }
}