
#home {
    /* La sección que envuelve al HomeSection */
    /* 1. Aplicamos la imagen de fondo solo a esta sección */
    background-image: url('imagen4-1.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    position: relative; 
    z-index: 1; 
    
    height: 90vh;

    display: flex; /* Nuevo: Activa Flexbox */
    flex-direction: column; /* Nuevo: Alineación de columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
}

/* 2. Creamos el overlay oscuro solo para HomeSection (para que el texto resalte) */
#home::before {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45); 
    z-index: -1; 
}


