/* Compensa la altura de la navbar fija */
.scroll-offset {
    scroll-margin-top: 120px;
}

/* ==== BLOQUE RAÍZ ==== */
.portfolio {
    color: var(--text-color);
}

/* === Estructura principal === */
.portfolio__container {
    display: flex;
    flex-direction: column;
}

.portfolio__main {
    display: flex;
    flex-direction: column;
    gap: 6.5rem;
}

/* ==== SECCIONES ==== */
.portfolio__section {
    width: 100%;
}

/* --- HOME (modifier) --- */
.portfolio__section--home {
    background-image: url("./assets/fondo/imagen-fondo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;

    height: 58rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Overlay solo para HOME */
.portfolio__section--home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--hero-overlay-color);
    z-index: -1;
}

/* --- CONTACT (modifier) --- */
.portfolio__section--contact {
    margin-bottom: 6rem;
}

/* ==== TITULOS DE SECCIÓN (GLOBAL) ==== */
.section-title {
    font-size: 2.5rem;
    color: var(--text-color);

    display: inline-block;
    position: relative;
}

/* Línea inferior */
.section-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;

    width: 35%;
    height: 4px;

    background-color: var(--title-underline-color);
    border-radius: 10px;
}


/* ==== RESPONSIVE ==== */
@media (max-width: 768px) {

    .scroll-offset {
        scroll-margin-top: 40px;
    }

    .portfolio__section--home {
        height: 12rem;
        min-height: 100vh;
        background-attachment: scroll;
    }

    .portfolio__main {
        gap: 2rem;
    }

    /* .section-title {
    padding-top: 2.5rem;
} */

    .portfolio__section--contact {
        margin-bottom: 10rem;
    }
}