:root {
    --text-color: #ecf0f1;
    --opacity-background: rgba(0, 0, 0, 0.45)
}

.portfolio-container {
    display: flex;
    flex-direction: column;

    color: var(--text-color);
}

.portfolio-main {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}

#contact {
    margin-bottom: 6.25rem;
}

#home {
    background-image: url('imagen-fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;

    height: 57rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 2. Creamos el overlay oscuro solo para HomeSection (para que el texto resalte) */
#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--opacity-background);
    z-index: -1;
}

section h1 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--text-color);
    padding-top: 6rem;
}

@media (max-width: 768px) {
    #home {
        height: auto;
        /* ajusta la altura automáticamente */
        min-height: 70vh;
        /* asegura que tenga suficiente altura */
        background-attachment: scroll;
        /* fixed no funciona bien en móvil */
        padding: 2rem 1rem;
        /* un poco de espacio interno */
    }
}