@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600;700&display=swap');

html, body, #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

    width: 100%;

    font-family: 'Raleway', sans-serif;
    background-color: #0D0102;
}

